@mixin font($color, $size, $height, $device: pc) {
    color: $color;
    @if $device == pc {
      font-size: $size * 1px;
    }
    @if $device == sp {
      font-size: $size/2 * 1px;
      font-size: $size/$sp_base * 100 * 1vw;
    }
    line-height: $height/$size;
  }

  $main-color: #530000;
  $sub-color: #FFFD33;

html {
    overflow: auto;
}

body {
    background: $main-color;
    color: #fff;
    overflow: hidden;
    font-family:"YuGothic", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
img {
    width: 100%;
}

.header {
    &_inner {
        display: flex;
        justify-content: space-between;
        height: 3.75vw;
        background: #fff;
    }
    &_logo {
        margin: 0.3125vw 0 0.3125vw 1.875vw;
        width: 12.5vw;
    }
    &_list {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        height: 3.75vw;
        width: 50.625vw;
        &_item {
            display: flex;
            align-items: center;
            border-left: 2px solid $main-color;
            width: 16.66%;
            transform: skew(-20deg);
            a {
                width: 100%;
                @include font($main-color,20,25);
                font-size: 1.25vw;
                font-weight: 600;
                text-decoration: none;
                height: 3.75vw;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: skew(20deg);
            }
        }
    }
    .kv {
        width: 100%;
    }
}

.footer {
    background: #fff;
    padding: 50px 0;
    .inner {
        position: relative;
    }
    .topBack {
        position: absolute;
        top: -100px;
        right: 0;
        width: 50px;
        height: 50px;
        background: #fff;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            border-top: 3px solid $main-color;
            border-left: 3px solid $main-color;
            transform: rotate(45deg) translate(-50%,10%);
        }
    }
    &_logo {
        width: 150px;
        margin: 0 auto;
    }
    small {
        display: block;
        @include font($main-color, 12, 12);
        text-align: center;
        margin-top: 20px;
    }
}
