@import '../common/css/mixin';

.inner {
    max-width: 1100px;
    margin: 0 auto;
    @include mq {
        width: 90%;
    }
}

.ttl {
  @include font($sub-color, 40,60);
  text-align: center;
  position: relative;
  &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 15%;
      height: 10%;
      background: #fff;
  }
}

.kv{
    padding-top: 3%;
    @include mq {
        padding-top: 13%;
    }
    .slide-dots {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 3%;
        li {
            display: inline-block;
            margin: 0 7px;
            @include mq {
                margin: 0 5px;
            }
            button {
                position: relative;
                text-indent: -9999px;
                border: none;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                padding: 0;
                width: 13px;
                height: 13px;
                @include mq {
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .slick-active {
            button {   
                background: #000;          
            }
        }
    }
    .slick-current {
            img {
                animation: zoomUp 15s linear infinite normal both;
            }
    }
}

@keyframes zoomUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

.banner {
    padding: 50px 0;
    &_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        &_img {
            padding: 0 10px 10px;
            a {
                display: block;
                width: 250px;
                transition: opacity 0.5s;
                @include mq {
                    width: 145px;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.news {
    padding: 30px 0;
    background: url(../img/bg_01.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    &_wrap {
        width: 100%;
        .ttl {
            color: $main-color;
            &:after {
                width: 17%;
                background: $sub-color;
                @include mq {
                    width: 45%;
                }
            }
        }
    }
    &_box {
        background: #fff;
        margin-top: 30px;
        padding:30px;
        height: 500px;
        overflow-y: scroll;
        border-radius: 10px;
        dl {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #999;
            dt {
                @include font($main-color, 16, 24);
            }
            dd {
                @include font($main-color, 20, 30);
                .cate {
                    @include font($main-color, 16, 24);
                    display: inline-block;
                    width: 100px;
                    text-align: center;
                    padding: 0 10px;
                    color: $main-color;
                    &_red {
                        background: #f00;
                    }
                    &_blue {
                        background: #00f;
                    }
                }
            }
        }
    }
}

  .game {
    padding: 50px 0;
    .result {
      .ttl {
          &:after {
              width: 45%;
              @include mq {
                  width: 60%;
              }
          }
      }
    }
    .next {
        @include mq {
            margin-top: 30px;
        }
      .ttl {
          &:after {
              width: 35%;
              @include mq {
                width: 45%;
            }
          }
      }
    }
    &_wrap {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        @include mq {
            flex-direction: column;
        }
    }
    &_info {
        width: 45%;
        box-sizing: border-box;
        margin-right: 5px;
        @include mq {
            width: 100%;
            margin-right: 0;
        }
    }
    &_area {
        height: 500px;
        overflow-y: scroll;
    }
    &_result {
        &_date {
            background: $main-color;
            @include font(#fff, 20, 25,);
            text-align: center;
            padding: 10px;
            @include mq {
                @include font(#fff, 36, 45, sp);
            }
        }
        &_category {
            @include font($main-color, 22, 28);
            text-align: center;
            margin-top: 10px;
        }
        &_match {
            @include font($main-color, 22, 28);
            text-align: center;
            padding: 10px 10px 0;
            @include mq {
                @include font($main-color, 40, 55, sp);
            }
        }
        &_score {
            padding: 10px;
            dl {
                @include font(#000, 18, 25);
                display: flex;
                justify-content: center;
                align-items: center;
                @include mq {
                    flex-direction: column;
                    @include font(#000, 36, 45, sp);
                }
                & + dl {
                    margin-top: 5px;
                    padding-top: 5px;
                    border-top: 1px dotted $main-color;
                }
                dt {
                    @include font(#000, 14, 20);
                    min-width: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mq {
                        @include font(#000, 36, 45, sp);
                    }
                    .win {
                        @include font(#f00,30,40);
                        @include mq {
                            @include font(#f00, 60, 75, sp);
                        }
                    }
                    .lose, .drow {
                        @include font(#000,30,40);
                        @include mq {
                            @include font(#000, 60, 75, sp);
                        }
                    }
                    .pk {
                        display: inline-block;
                    }
                    b {
                        @include font(#000,30,40);
                        display: inline-block;
                        padding: 0 5px;
                        @include mq {
                            @include font(#000, 60, 75, sp);
                        }
                    }
                }
                dd  {
                    @include font(#000, 18, 25);
                    font-weight: bold;
                    @include mq {
                        @include font(#000, 36, 45, sp);
                    }
                    &.vs {
                        display: inline-block;
                        padding: 0 10px;
                        font-weight: normal;
                        @include mq{
                            padding: 3% 0;
                        }
                    }
                }
            }
        }
        &_vs {
            @include font(#000,18,25);
            text-align: center;
            padding: 10px 10px 0;
            @include mq {
                @include font(#000, 36, 45, sp);
            }
        }
        &_place {
            @include font(#000,18,25);
            text-align: center;
            padding: 10px;
            @include mq {
                @include font(#000, 36, 45, sp);
            }
        }
    }
    &_box {
        background: #fff;
        margin-top: 30px;
        border-radius: 10px;
        overflow: hidden;
        &_tab {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            li {
                width: 20%;
                padding: 10px 0;
                text-align: center;
                box-sizing: border-box;
                @include font($main-color, 16, 16);
                border-right: 1px solid $main-color;
                background: $sub-color;
                cursor: pointer;
                &:last-child {
                    border-right: none;
                }
                &.active {
                    background: #fff;
                    cursor: auto;
                }
            }
        }
        &_category {
            @include font($main-color,16,16);
            padding: 15px;
            display: none;
            &.show {
                display: block;
            }
        }
        &_list {
            list-style-type: none;
            border: 1px solid $main-color;
            & + .game_box_list {
                margin-top: 20px;
            }
        }
    }
    &_ttl {
        @include font($sub-color, 40,60);
        text-align: center;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 15%;
            height: 10%;
            background: #fff;
        }
    }
}

.sns {
    padding: 50px 0;
    background: url(../img/bg_02.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    .ttl {
        color: $main-color;
        &:after {
            width: 10%;
            background: $sub-color;
            @include mq {
                width: 30%;
            }
        }
    }
    &_wrap {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        list-style-type: none;
        @include mq {
            flex-direction: column;
        }
    }
    &_tw {
        margin-right: 50px;
        @include mq {
            margin-right: 0;
        }
        &_ttl {
            text-align: center;
            @include font($main-color,24,30);
        }
        &_box {
            margin-top: 30px;
            iframe {
                width: 100% !important;
                height: 500px !important;
            }
        }
    }
    &_fa {
        margin-left: 50px;
        @include mq {
            margin: 30px 0 0;
        }
        &_ttl {
            text-align: center;
            @include font($main-color,24,30);
        }
        &_box {
            margin-top: 30px;
            iframe {
                width: 100% !important;
                height: 500px !important;
            }
        }
    }
}

.schedule {
    padding: 50px 0;
    .ttl {
        &:after {
            width: 25%;
            @include mq {
                width: 75%;
            }
        }
    }
    &_img {
        margin: 30px auto 0;
        max-width: 800px;
        position: relative;
        padding-bottom: 75%; /* 縦横比 */
        height: 0;
        overflow: hidden;
        @include mq {
            padding-top: 75%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.contact {
  padding: 50px 0;
  background: #F2F2F2;
  .ttl {
    color: $main-color;
    &:after {
      width: 20%;
      background: $sub-color;
      @include mq {
          width: 70%;
      }
    }
  }
  &_txt {
    text-align: center;
    @include font($main-color,18, 25);
    margin-top: 40px;
  }
  &_btn {
    text-align: center;
    margin-top: 30px;
    a {
      display: inline-block;
      width: 300px;
      height: 50px;
      background: $main-color;
      @include font(#fff,20,30);
      text-decoration: none;
      border-radius: 30px;
      vertical-align: middle;
      padding: 10px 0;
    }
  }
}
