.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.ttl {
  color: #FFFD33;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  position: relative;
}

.ttl:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15%;
  height: 10%;
  background: #fff;
}

.banner {
  padding: 50px 0;
}

.banner_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.banner_list_img {
  padding: 0 10px 10px;
}

.banner_list_img a {
  display: block;
  width: 250px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.banner_list_img a:hover {
  opacity: 0.8;
}

.news {
  padding: 30px 0;
  background: url(../img/bg_01.jpg) center;
  background-attachment: fixed;
  background-size: cover;
}

.news_wrap {
  width: 100%;
}

.news_box {
  background: #fff;
  margin-top: 30px;
  padding: 30px;
  height: 500px;
  overflow-y: scroll;
}

.news_box dl {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

.news_box dl dt {
  color: #530000;
  font-size: 16px;
  line-height: 1.5;
}

.news_box dl dd {
  color: #530000;
  font-size: 20px;
  line-height: 1.5;
}

.news_box dl dd .cate {
  color: #530000;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 0 10px;
  color: #530000;
}

.news_box dl dd .cate_red {
  background: #f00;
}

.news_box dl dd .cate_blue {
  background: #00f;
}

.game {
  padding: 50px 0;
}

.game .result .ttl:after {
  width: 35%;
}

.game .next .ttl:after {
  width: 25%;
}

.game_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.game_info {
  width: 45%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5px;
}

.game_area {
  height: 500px;
  overflow-y: scroll;
}

.game_result_date {
  background: #530000;
  color: #fff;
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
}

.game_result_category {
  color: #530000;
  font-size: 22px;
  line-height: 1.27273;
  text-align: center;
  margin-top: 10px;
}

.game_result_match {
  color: #530000;
  font-size: 22px;
  line-height: 1.27273;
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
}

.game_result_score {
  margin-top: 10px;
  padding-left: 10px;
}

.game_result_score dl {
  color: #000;
  font-size: 18px;
  line-height: 1.38889;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game_result_score dl dt {
  min-width: 90px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game_result_score dl dt .win {
  color: #f00;
  font-size: 30px;
  line-height: 1.33333;
}

.game_result_score dl dt .lose, .game_result_score dl dt .drow {
  color: #000;
  font-size: 30px;
  line-height: 1.33333;
}

.game_result_score dl dt .pk {
  display: inline-block;
}

.game_result_score dl dt .vs {
  display: inline-block;
  padding-left: 10px;
}

.game_result_score dl dt b {
  color: #000;
  font-size: 30px;
  line-height: 1.33333;
  display: inline-block;
  padding: 0 5px;
}

.game_result_score dl dd {
  color: #000;
  font-size: 18px;
  line-height: 1.38889;
  font-weight: bold;
}

.game_result_vs {
  color: #000;
  font-size: 18px;
  line-height: 1.38889;
  text-align: center;
}

.game_result_place {
  color: #000;
  font-size: 18px;
  line-height: 1.38889;
  text-align: center;
}

.game_box {
  background: #fff;
  margin-top: 30px;
}

.game_box_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.game_box_tab li {
  width: 20%;
  padding: 10px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #530000;
  font-size: 16px;
  line-height: 1;
  border-right: 1px solid #530000;
  background: #FFFD33;
  cursor: pointer;
}

.game_box_tab li:last-child {
  border-right: none;
}

.game_box_tab li.active {
  background: #fff;
  cursor: auto;
}

.game_box_category {
  color: #530000;
  font-size: 16px;
  line-height: 1;
  padding: 15px;
  display: none;
}

.game_box_category.show {
  display: block;
}

.game_box_list {
  list-style-type: none;
  border: 1px solid #530000;
}

.game_box_list + .game_box_list {
  margin-top: 20px;
}

.game_ttl {
  color: #FFFD33;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  position: relative;
}

.game_ttl:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15%;
  height: 10%;
  background: #fff;
}

.sns {
  padding: 50px 0;
  background: url(../img/bg_02.jpg) center;
  background-attachment: fixed;
  background-size: cover;
}

.sns .ttl:after {
  width: 10%;
}

.sns_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  list-style-type: none;
}

.sns_tw {
  margin-right: 50px;
}

.sns_tw_ttl {
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 1.25;
}

.sns_tw_box {
  margin-top: 30px;
}

.sns_fa {
  margin-left: 50px;
}

.sns_fa_ttl {
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 1.25;
}

.sns_fa_box {
  margin-top: 30px;
}

.schedule {
  padding: 50px 0;
}

.schedule .ttl:after {
  width: 25%;
}

.schedule_img {
  margin-top: 30px;
  text-align: center;
}

.contact {
  padding: 50px 0;
  background: #F2F2F2;
}

.contact .ttl {
  color: #530000;
}

.contact .ttl:after {
  width: 20%;
  background: #FFFD33;
}

.contact_txt {
  text-align: center;
  color: #530000;
  font-size: 18px;
  line-height: 1.38889;
  margin-top: 40px;
}

.contact_btn {
  text-align: center;
  margin-top: 30px;
}

.contact_btn a {
  display: inline-block;
  width: 300px;
  height: 50px;
  background: #530000;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 30px;
  vertical-align: middle;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */